/* CSS Document */
body {margin:0;padding:0;font-size:12px;}
form {margin:0;padding:0;font-size:12px;line-height:1.5em;}
td {font-size:12px;line-height:1.5em;vertical-align: top; }
img {border:0;}
.b{font-weight:bold;}
input { font-size: 12px; }

a {font-size:12px;}
a:link,
a:visited { color: #0050B4; text-decoration: none; }

.style-color-1 { color: #FE0000; }
.style-color-2 { color: #919191; }
.style-size-1 { font-size: 14px; }

.center { text-align: center; }
.top-line-1 { border-top: 2px #FD6301 solid; }

.odd { background: #DFDFDF; }
.iserror {color: #FF0000; font-weight: bold;}

.lines  {margin:2px;}
#goback {margin:2px;}

#body { padding: 0; background: url(/portal/xlife/images/bg.png) repeat-x left top; }
#header { padding: 5px 0; text-align: center;}
#nav {}
#search { padding: 5px 0; background: #E5E5E5; }
#user-info { text-align: center; }
.column { }
.column a { font-weight: 700; background: #FFFF66; }
#login { margin: auto auto 3px auto; background: #E5E5E5; text-align: center; }
#content {}
.title { padding: 2px 0 0 5px; font-weight: 700; color: #620606; background: url(title_bg.gif) repeat; border:1px solid #ccc; }
.title span { font-weight: 400; }
.list { padding: 3px 0 0 5px; }
.list .c1 {font-family:'ו'; font-weight:normal; color:#fff; font-size:12px; background:url(http://img1.cache.netease.com/sports/img/index1105/sbg01.gif) no-repeat 0 0; width:38px; height:16px; line-height:18px; overflow:hidden; display:block; float:left; text-align:center; text-indent:-2px; margin:-1px 4px 0 0;}
.list .step { margin: 3px 0 6px 0; padding: 3px 0 0 0; }
.list .msg-list { margin: 3px 0; padding: 3px 0;  }
.list .msg-list span { color: #999999; }
.list .house-list { margin: 5px 0; padding: 5px 0;  }
#backindex { margin: 15px 0 10px 0; padding: 5px 5px 3px 5px; border-top: 2px #FD6301 solid; border-bottom: 1px #dddddd solid; }
#footer { text-align: center; line-height: 1.5; }
#footer .copy { margin: 5px 0 0 0; color: #797979; }
#footer .copy a { color: #797979; }