<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.shenkun.music"
      android:versionCode="1"
      android:versionName="1.0">
	<!-- 访问互联网许可 -->
	<uses-permission android:name="android.permission.INTERNET"/>
	
    <application android:name="MusicApplication" android:icon="@drawable/icon" android:label="@string/app_name"
    android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".TabHostActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.CATEGORY_GADGET" />
            </intent-filter>
        </activity>
       <activity android:name=".MyMusicPlayer">
       </activity>
        <activity android:name=".AboutActivity"/>
        <activity android:name=".PlayActivity"/>
        <activity android:name=".WebViewActivity"/>
		<service android:name=".MyMusicService" android:exported="true" /> 
		 
    </application>
</manifest>