<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BSFramework</display-name>
	<filter>
		<filter-name>FilterServlet</filter-name>
		<filter-class>org.jwdf.framework.base.FilterServlet</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterServlet</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FilterServlet</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FilterServlet</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FilterServlet</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>org.jwdf.framework.base.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>provision</servlet-name>
		<servlet-class>com.vogins.sps.vip.FrontendProvisioningServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>developerpack</servlet-name>
		<servlet-class>com.vogins.vmac.back.business.DeveloperPackServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MoHaotian</servlet-name>
		<servlet-class>com.vogins.sps.pay.api.haotian.MoHaotianServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MrHaotian</servlet-name>
		<servlet-class>com.vogins.sps.pay.api.haotian.MrHaotianServlet</servlet-class>
	</servlet>
	<servlet>
	<servlet-name>FeiYangMoServlet</servlet-name>
	<servlet-class>com.vogins.sps.pay.api.feiyang.MoResponServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>FeiYangMrServlet</servlet-name>
		<servlet-class>com.vogins.sps.pay.api.feiyang.MrResponServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TomMtServlet</servlet-name>
		<servlet-class>com.vogins.sps.pay.api.tom.MtResponServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TomMtServlet</servlet-name>
		<url-pattern>/TomMtServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FeiYangMoServlet</servlet-name>
		<url-pattern>/FeiYangMoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FeiYangMrServlet</servlet-name>
		<url-pattern>/FeiYangMrServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MoHaotian</servlet-name>
		<url-pattern>/MoHaotian</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MrHaotian</servlet-name>
		<url-pattern>/MrHaotian</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>provision</servlet-name>
		<url-pattern>/provision</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>provision</servlet-name>
		<url-pattern>/servlet/provision</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>developerpack</servlet-name>
		<url-pattern>/developerpack</url-pattern>
	</servlet-mapping>

        <servlet>
                <servlet-name>DataService</servlet-name>
                <servlet-class>com.vogins.developer.DataService</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>DataService</servlet-name>
                <url-pattern>/DataService</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>GetCertVersion</servlet-name>
                <servlet-class>com.vogins.sps.caapi.GetCertVersion</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>GetCertVersion</servlet-name>
                <url-pattern>/GetCertVersion</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>GetPublicKey</servlet-name>
                <servlet-class>com.vogins.sps.caapi.GetPublicKey</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>GetPublicKey</servlet-name>
                <url-pattern>/GetPublicKey</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>EncryptData</servlet-name>
                <servlet-class>com.vogins.sps.caapi.GetEncryptData</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>EncryptData</servlet-name>
                <url-pattern>/EncryptData</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>DecryptData</servlet-name>
                <servlet-class>com.vogins.sps.caapi.GetDecryptData</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>DecryptData</servlet-name>
                <url-pattern>/DecryptData</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>HisDecryptData</servlet-name>
                <servlet-class>com.vogins.sps.caapi.GetHisDecryptData</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>HisDecryptData</servlet-name>
                <url-pattern>/HisDecryptData</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>TransCountryList</servlet-name>
                <servlet-class>com.vogins.sps.caapi.TransCountryList</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>TransCountryList</servlet-name>
                <url-pattern>/TransCountryList</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>TransMFList</servlet-name>
                <servlet-class>com.vogins.sps.caapi.TransMFList</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>TransMFList</servlet-name>
                <url-pattern>/TransMFList</url-pattern>
        </servlet-mapping>
	
        <servlet>
                <servlet-name>SystemInitServlet</servlet-name>
                <servlet-class>com.vogins.sps.init.SystemInitServlet</servlet-class>
			    <load-on-startup>1</load-on-startup>
        </servlet>
	
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.htm</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.htm</location>
	</error-page>
</web-app>
