<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>wapAdmin</display-name>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>servlets.test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checklogin</servlet-name>
    <servlet-class>servlets.checklogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checksession</servlet-name>
    <servlet-class>servlets.checksession</servlet-class>
    <init-param>
      <param-name>width</param-name>
      <param-value>200</param-value>
    </init-param>
    <init-param>
      <param-name>height</param-name>
      <param-value>80</param-value>
    </init-param>
    <init-param>
      <param-name>codeCount</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>listall</servlet-name>
    <servlet-class>servlets.listall</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pageadd</servlet-name>
    <servlet-class>servlets.pageadd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mobileadd</servlet-name>
    <servlet-class>servlets.mobileadd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>picadd</servlet-name>
    <servlet-class>servlets.picadd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>spadd</servlet-name>
    <servlet-class>servlets.spadd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>spedit</servlet-name>
    <servlet-class>servlets.spedit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gameadd</servlet-name>
    <servlet-class>servlets.gameadd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ringadd</servlet-name>
    <servlet-class>servlets.ringadd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>videoadd</servlet-name>
    <servlet-class>servlets.videoadd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loadconfig</servlet-name>
    <servlet-class>servlets.loadconfig</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>viewadd</servlet-name>
    <servlet-class>servlets.viewadd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editpic</servlet-name>
    <servlet-class>servlets.editpic</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ringedit</servlet-name>
    <servlet-class>servlets.ringedit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>videoedit</servlet-name>
    <servlet-class>servlets.videoedit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gameedit</servlet-name>
    <servlet-class>servlets.gameedit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewedit</servlet-name>
    <servlet-class>servlets.viewedit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pageedit</servlet-name>
    <servlet-class>servlets.pageedit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checklogin</servlet-name>
    <url-pattern>/checklogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checksession</servlet-name>
    <url-pattern>/checksession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listall</servlet-name>
    <url-pattern>/listall</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pageadd</servlet-name>
    <url-pattern>/pageadd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mobileadd</servlet-name>
    <url-pattern>/mobileadd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>picadd</servlet-name>
    <url-pattern>/picadd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>spadd</servlet-name>
    <url-pattern>/spadd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>spedit</servlet-name>
    <url-pattern>/spedit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gameadd</servlet-name>
    <url-pattern>/gameadd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ringadd</servlet-name>
    <url-pattern>/ringadd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>videoadd</servlet-name>
    <url-pattern>/videoadd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loadconfig</servlet-name>
    <url-pattern>/loadconfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewadd</servlet-name>
    <url-pattern>/viewadd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editpic</servlet-name>
    <url-pattern>/editpic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ringedit</servlet-name>
    <url-pattern>/ringedit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>videoedit</servlet-name>
    <url-pattern>/videoedit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gameedit</servlet-name>
    <url-pattern>/gameedit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewedit</servlet-name>
    <url-pattern>/viewedit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pageedit</servlet-name>
    <url-pattern>/pageedit</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  	<resource-ref>
      <description>wapadmin DataSource</description>
      <res-ref-name>jdbc/wapadmin</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  	</resource-ref>
</web-app>

