<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-autowire="byName">
	<bean id="txProxyTemplate" abstract="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="proxyTargetClass" value="true"/>
		<property name="transactionAttributes">
			<props>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="load*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="proxyFactoryBean" abstract="true" class="org.springframework.aop.framework.ProxyFactoryBean">
	<property name="interceptorNames">
		<list>
		<value>sessionAccessInterceptor</value>
		</list>
	</property>
	</bean>
	<bean id="countryService" class="com.tcl.gamePortal.service.CountryService"/>
	<bean id="provinceService" class="com.tcl.gamePortal.service.ProvinceService"/>
	<bean id="cityService" class="com.tcl.gamePortal.service.CityService"/>
	<bean id="telecomoperatorsService" class="com.tcl.gamePortal.service.TelecomoperatorsService"/>
	<bean id="languageService" class="com.tcl.gamePortal.service.LanguageService"/>
	<bean id="spinfoService" class="com.tcl.gamePortal.service.SpinfoService"/>
	<bean id="ipinfoService" class="com.tcl.gamePortal.service.IpinfoService"/>
	<bean id="javaparameterService" class="com.tcl.gamePortal.service.JavaparameterService"/>
	<bean id="mobileinfoService" class="com.tcl.gamePortal.service.MobileinfoService"/>
	<bean id="gameinfoService" class="com.tcl.gamePortal.service.GameinfoService"/>
	<bean id="gameresouceService" class="com.tcl.gamePortal.service.GameresouceService"/>
	<bean id="pageinfoService" class="com.tcl.gamePortal.service.PageinfoService"/>
	<bean id="locationpageService" class="com.tcl.gamePortal.service.LocationpageService"/>
	<bean id="visiteinfoService" class="com.tcl.gamePortal.service.VisiteinfoService"/>
	<bean id="downloadinfoService" class="com.tcl.gamePortal.service.DownloadinfoService"/>
	<bean id="customerService" class="com.tcl.gamePortal.service.CustomerService"/>
	<bean id="commentService" class="com.tcl.gamePortal.service.CommentService"/>
</beans>
